.tableFixHead {
  overflow-y: auto;
  height: 106px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
}
.caja table {
  border-collapse: collapse;
  width: 100%;
}
.caja th,
.caja td {
  padding: 8px 16px;
  border: 1px solid #ccc;
}
.caja th {
  background: #eee;
}